files:
  "/etc/php.d/99custom.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      upload_max_filesize=20M
      post_max_size=24M
      realpath_cache_size=4096K
      realpath_cache_ttl=600
      opcache.enable=1
      opcache.memory_consumption=256
      opcache.max_accelerated_files=20000
      opcache.validate_timestamps=0

commands:
  01_redis_install:
    # run this command from /tmp directory
    cwd: /tmp
    # don't run the command if phpredis is already installed (file /etc/php.d/redis.ini exists)
    test: '[ ! -f /etc/php.d/redis.ini ] && echo "redis not installed"'
    # executed only if test command succeeds
    command: |
      wget https://github.com/phpredis/phpredis/zipball/master -O phpredis.zip \
      && unzip -o phpredis.zip \
      && cd phpredis-phpredis-* \
      && phpize \
      && ./configure \
      && make \
      && make install \
      && echo extension=redis.so > /etc/php.d/99redis.ini
